html {
  /* Chrome bug in vertical resize, can't use: vh in body only */
  height: 100%;
}

body {
  background: url('foto/home1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'logofont';
  src:url('../res/foto/CFRevolution.ttf') format('truetype');
}

.logofont {
  font-family: 'logofont';
  font-size: 1.7em;
}

.site {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Design1*/
  width: 980px;
  background-color: #0B0804;
  color:#FFB661;
  margin-left: auto;
  margin-right: auto;
}

.site > div {
  flex-grow: 0;
}

.shadow {
  box-shadow: 0 0 0 2px black inset;
}

.grid {
  margin: 5px;
}

.outer {
  width: 90%;
}

.middle {
  width: 85%;
}

.head {
  line-height: 2em;
  font-size: 2em;
}

/*Navigation*/
.nav {
  display: flex;
  justify-content: space-between;
  background: rgba(6,1,1,0.4);
}

.nav > a {
  flex-grow: 1;
  line-height: 2em;
  font-size: 1.3em;
  width: 100%;
  color: #E90000;
  text-decoration: none;
  /*border: 0.5px solid #FFB661;*/
}

.nav > a :hover{
  color: #FFB661;
}

.nav > :first-child {
  margin-left: 0px;
}

.nav > :last-child {
  margin-right: 0px;
}

.site > .cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tit {
  margin: 8px 0 20px 0;
  line-height: 1.2em;
  font-size: 1.2em;
}


/*page home*/
.home {
  display: flex;
  flex-direction: column;
  background: rgba(6,1,1,0.6);
  height: 100%;
}

#welcome {
  background: rgba(6,1,1,0.6);
  height: 100%;
}

.foot {
  font-size: 0.8em;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-padding {
  flex-grow: 1;
  line-height: 1.3em;
}

.linkbar {
  width: 85%;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}

.errorMessage {
  color: red;
}

/*Pages Login*/
#loginBox {

}

div#loginFields {
  display: inline-block;
}

div#loginFields div {
  margin: auto;
}
