html {
  /* Chrome bug in vertical resize, can't use: vh in body only */
  height: 100%;
}

body {

}

@font-face {
  font-family: 'logofont';
  src:url('../res/foto/CFRevolution.ttf') format('truetype');
}

.logofont {
  font-family: 'logofont';
}

.site {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site > div {
  flex-grow: 0;
}

.shadow {
  box-shadow: 0 0 0 2px black inset;
}

.grid {
  margin: 5px;
}

.outer {
  width: 90%;
}

.middle {
  width: 85%;
}

.head {
  line-height: 2em;
  font-size: 2em;
}

/*Navigation*/
.nav {
  display: flex;
  justify-content: space-between;
}

.nav > div {
  flex-grow: 1;
  line-height: 2em;
  font-size: 1.3em;
}

.nav > :first-child {
  margin-left: 0px;
}

.nav > :last-child {
  margin-right: 0px;
}

.site > .cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tit {
  margin: 8px 0 20px 0;
  line-height: 1.2em;
  font-size: 1.2em;
}

.main {
  display: flex;
  flex-direction: column;
}

.foot {
  font-size: 0.8em;
}

.centered {
  display: flex;
  justify-content: center;
  align-items:center;
}

#loginBox {
  margin: auto;
}
