html {
  /* Chrome bug in vertical resize, can't use: vh in body only */
  height: 100%;
}

.mapBoxShadow{
	-moz-box-shadow:    0 0 7px 4px #000000;
    -webkit-box-shadow: 0 0 7px 4px #000000;
    box-shadow:         0 0 7px 4px #000000;
}

#box{
	padding:10px 40px; 
	background:rgba(244, 244, 244, 0.95);
	width:50px;
	height:50px;
	border-radius:15px;
	position:relative;
	visibility:hidden;
	text-align:center;
}

.box_top{
	text-align:center;
	width:100%;
}

.box_bottom{
	margin-top:5px;
	margin-left:-24px;
	text-align:center;
}

.box_bottom {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	cursor:pointer;
}

.box_bottom:active {
	position:relative;
	top:1px;
}

body {
  background: url('foto/home1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'logofont';
  src:url('../res/foto/CFRevolution.ttf') format('truetype');
}

.logofont {
  font-family: 'logofont';
  font-size: 1.7em;
}

.site {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Design1*/
  width: 980px;
  background-color: #0B0804;
  color:#FFB661;
  margin-left: auto;
  margin-right: auto;
}

.site > div {
  flex-grow: 0;
}

.shadow {
  box-shadow: 0 0 0 2px black inset;
}

.grid {
  margin: 5px;
}

.outer {
  width: 90%;
}

.middle {
  width: 85%;
}

.head {
  line-height: 2em;
  font-size: 2em;
}

/*Navigation*/
.nav {
  display: flex;
  justify-content: space-between;
  background: rgba(6,1,1,0.4);
}

.nav > a {
  flex-grow: 1;
  line-height: 2em;
  font-size: 1.3em;
  width: 100%;
  color: #E90000;
  text-decoration: none;
  /*border: 0.5px solid #FFB661;*/
}

.nav > a :hover{
  color: #FFB661;
}

.nav > :first-child {
  margin-left: 0px;
}

.nav > :last-child {
  margin-right: 0px;
}

.site > .cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tit {
  margin: 8px 0 20px 0;
  line-height: 1.2em;
  font-size: 1.2em;
}


/*page home*/
.home {
  display: flex;
  flex-direction: column;
  background: rgba(6,1,1,0.6);
  height: 100%;
}

#welcome {
  background: rgba(6,1,1,0.6);
  height: 100%;
}

.foot {
  font-size: 0.8em;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-padding {
  flex-grow: 1;
  line-height: 1.3em;
}

.linkbar {
  width: 85%;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
}

.errorMessage {
  color: red;
}

/*Pages Login*/
#loginBox {
	margin: 250px auto;
}

#loginBox input{
	-moz-box-shadow:    0 0 4px 2px rgba(255, 182, 97, 0.5);
    -webkit-box-shadow: 0 0 7px 4px rgba(255, 182, 97, 0.5);
    box-shadow:         0 0 7px 4px rgba(255, 182, 97, 0.5);
	background-color:rgba(39, 39, 39, 0.8);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border-color:rgba(255, 182, 97, 0.8);
	font-size:large;
	color:rgba(255, 182, 97, 0.5);
	text-align:center;
}

#username,#password{
	width:80%;
}

#loginFields div {
  text-align:center;
}
