/* debug */
.errorMessage {
  color: red;
}

/* Fonts */
@font-face {
  font-family: 'logofont';
  src:url('../res/foto/CFRevolution.ttf') format('truetype');
}

@font-face {
  font-family: 'navifont';
  src:url('../res/foto/twilight New Moon.ttf') format('truetype');
}

.logofont {
  font-family: 'logofont';
  font-size: 1.8em;
}

.text_style {
  font-family: sans-serif;
  color: #FFB661;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #E90000;
}

/* flexbox */
.flex_vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_hor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_grow {
  flex-grow: 1;
}

html {
  height: 100%;
}

/* main body */
.site {
  margin: 0 auto 0 auto;
  width: 980px;
  background: url('foto/home1.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

.outer {
  width: 96%;
}

.middle {
  width: 85%;
}

.grid {
  margin: 5px;
}

.site > div {
	box-shadow: 0 0 30px 10px rgba(0,0,0,0.4);
}
/*Navigation*/
.nav {
  /*background:radial-gradient(#693B37,#2A1B0A);*/
  height: 70px;
  background: rgb(61,61,57); /* Old browser */
  background: linear-gradient(to bottom,  rgba(61,61,57,1) 0%,rgba(68,31,17,1) 32%,rgba(42,27,10,1) 100%); /* W3C */
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  font-family: navifont;
  text-transform: uppercase;
  font-weight: 300;
  z-index: 2;
}

.nav > a {
  line-height: 2em;
  font-size: 1.6em;

}

/* Logo */
.logo {
  padding: 25px 0 15px 0;
  margin: 0 0 10px 0;
  background: rgba(6,1,1,0.8);
  border-radius:20px;
  line-height: 2em;
  font-size: 2em;
  position: relative;
  top: -25px;
  z-index: 1;
}

/* Content div */
.content {
  background: rgba(6,1,1,0.8);
  margin-top: 20px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.content > div > p {
  width: 80%;
}

.title {
  line-height: 1.2em;
  font-size: 1.5em;
  font-weight: 300;
  margin: 40px 0 40px 0;
}

.title + div {
  margin: 10px 40px 50px 40px;
}

/* Footer */
.foot {
  background: rgb(6,1,1);
  height: 30px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  line-height: 2em;
  font-size: 0.9em;
}

/* Footer-linked */
#team > img{
  position: relative;
  width: 90%;
}

#footerstuff > .title {
  margin-bottom: 30px;
}

.box-padding {
  flex-grow: 1;
  line-height: 1.3em;
}

/* Maps */
.map {
	/*padding: 24px;*/
	position: relative; /* workaround */
	right: 15px; /* workaround */
}

.map > .mapbutton {
	position: relative;
	bottom: 20px;
	left: 15px; /* workaround */
}

/* Box district */
.mapBoxShadow{
  box-shadow: 0 0 7px 4px #000000;
}

#box{
	padding:10px 40px; 
	background:rgba(244, 244, 244, 0.95);
	width:50px;
	height:50px;
	border-radius:15px;
	position:relative;
	visibility:hidden;
	text-align:center;
}

.box_top{
	text-align:center;
	width:100%;
}

.box_bottom{
	margin-top:5px;
	margin-left:-24px;
	text-align:center;
}

.box_bottom {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	border-radius:10px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	cursor:pointer;
}

.box_bottom:active {
	position:relative;
	top:1px;
}

/*Overview, Attack Pages*/
#overview > .linkbar {
	width: 80%;
}

#overview > p {
	margin: 20px 0 20px 0;
	text-align: center;
}

.bigbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb561), color-stop(1, #a66923) );
	background:-moz-linear-gradient( center top, #ffb561 5%, #a66923 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb561', endColorstr='#a66923');
	background-color:#ffb561;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	display:block;
	color:#2A1B0A;
	font-size:1.7em;
	font-weight:bold;
	font-style:normal;
	height:53px;
	line-height:53px;
	width:250px;
	
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
	text-transform: uppercase;

	position: relative;
	font-family: navifont;
	margin-right: auto;
	margin-left: auto;
}

.bigbutton > div {
	text-decoration: none !important;
}

.bigbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a66923), color-stop(1, #ffb561) );
	background:-moz-linear-gradient( center top, #a66923 5%, #ffb561 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a66923', endColorstr='#ffb561');
	background-color:#a66923;
}

.bigbutton:active {
	position:relative;
	top:1px;
}


.linkbar {
	width: 100%;
	margin: 40px 0 40px 0;
}

/* page attacks */
#sladi_start_attack > p {
	margin: 20px 0 20px 0;
	font-size: 1.5em;
	text-align: center;
}

#attacksListContainer {
	flex-direction: column;
}

#attacksListContainer > .linkbar {
	width: 80%;
}

#attacksListContainer div span {
	font-size: 1.1em;
	padding: .3em;
}

#headerLine {
	display: none;
	font-size: 1.2em;
	font-weight: bold;
}

#noAttacksDiv {
	font-size: 1.2em;
	padding: .3em;
}

#noAttacksDiv > div > div {
	margin: 20px 0 20px 0;
	font-size: 1.5em;
}

/* login */
#loginBox input{
	-moz-box-shadow:    0 0 4px 2px rgba(255, 182, 97, 0.5);
    -webkit-box-shadow: 0 0 7px 4px rgba(255, 182, 97, 0.5);
    box-shadow:         0 0 7px 4px rgba(255, 182, 97, 0.5);
	background-color:rgba(39, 39, 39, 0.8);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border-color:rgba(255, 182, 97, 0.8);
	font-size:large;
	color:rgba(255, 182, 97, 0.5);
	text-align:center;
}

#loginFields > div {
	margin: 10px 0 10px 0;
}

