html {
  /* Chrome bug in vertical resize, can't use: vh in body only */
  height: 100%;
}

.site {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site > div {
  flex-grow: 0;
}

.shadow {
  box-shadow: 0 0 0 2px black inset;
}

.grid {
  margin: 5px;
}

.outer {
  width: 90%;
}

.middle {
  width: 85%;
}

.head {
  line-height: 2em;
  font-size: 2em;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > div {
  flex-grow: 1;
}

.nav > :first-child {
  margin-left: 0px;
}

.nav > :last-child {
  margin-right: 0px;
}

.butt {
  line-height: 1.3em;
  font-size: 1.3em;
}

.site > .cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tit {
  margin: 8px 0 20px 0;
  line-height: 1.2em;
  font-size: 1.2em;
}

.lines {
  margin: 10px auto 10px auto;
  width: 85%;
}

.lines > hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.foot {
  font-size: 0.8em;
}
